[submodule "CVPRW2019_Face_Artifacts"]
	path = CVPRW2019_Face_Artifacts
	url = https://github.com/yuezunli/CVPRW2019_Face_Artifacts
[submodule "headpose_forensic"]
	path = headpose_forensic
	url = https://bitbucket.org/ericyang3721/headpose_forensic.git
[submodule "Exploiting-Visual-Artifacts"]
	path = Exploiting-Visual-Artifacts
	url = https://github.com/FalkoMatern/Exploiting-Visual-Artifacts.git
[submodule "Capsule-Forensics-v2"]
	path = Capsule-Forensics-v2
	url = https://github.com/nii-yamagishilab/Capsule-Forensics-v2.git
[submodule "ClassNSeg"]
	path = ClassNSeg
	url = https://github.com/nii-yamagishilab/ClassNSeg.git
[submodule "DeepFakeDetection"]
	path = DeepFakeDetection
	url = https://github.com/cc-hpc-itwm/DeepFakeDetection.git
[submodule "ManTraNet"]
	path = ManTraNet
	url = https://github.com/ISICV/ManTraNet.git
[submodule "E2E-ForgeryDetection"]
	path = E2E-ForgeryDetection
	url = https://github.com/FrancescoMarra/E2E-ForgeryDetection
