[submodule "CVPRW2019_Face_Artifacts"]
	path = CVPRW2019_Face_Artifacts
	url = https://github.com/yuezunli/CVPRW2019_Face_Artifacts
[submodule "headpose_forensic"]
	path = headpose_forensic
	url = https://bitbucket.org/ericyang3721/headpose_forensic.git
[submodule "Exploiting-Visual-Artifacts"]
	path = Exploiting-Visual-Artifacts
	url = https://github.com/FalkoMatern/Exploiting-Visual-Artifacts.git
[submodule "Capsule-Forensics-v2"]
	path = Capsule-Forensics-v2
	url = https://github.com/nii-yamagishilab/Capsule-Forensics-v2.git
[submodule "ClassNSeg"]
	path = ClassNSeg
	url = https://github.com/nii-yamagishilab/ClassNSeg.git
[submodule "DeepFakeDetection"]
	path = DeepFakeDetection
	url = https://github.com/cc-hpc-itwm/DeepFakeDetection.git
[submodule "ManTraNet"]
	path = ManTraNet
	url = https://github.com/ISICV/ManTraNet.git
[submodule "E2E-ForgeryDetection"]
	path = E2E-ForgeryDetection
	url = https://github.com/FrancescoMarra/E2E-ForgeryDetection
[submodule "MesoNet"]
	path = MesoNet
	url = https://github.com/DariusAf/MesoNet.git
[submodule "multiple-attention"]
	path = multiple-attention
	url = https://github.com/yoctta/multiple-attention
[submodule "patch-forensics"]
	path = patch-forensics
	url = https://github.com/chail/patch-forensics.git
[submodule "CNNDetection"]
	path = CNNDetection
	url = https://github.com/peterwang512/CNNDetection
[submodule "adversarial_deepfakes"]
	path = adversarial_deepfakes
	url = https://github.com/ApGa/adversarial_deepfakes
